Repository i-VRESSE/workflow-builder: changes, and which Codecov flags are due for each by the changed paths.
All: core-unit, form-unit

codecov.yml:

coverage:
  status:
    project:
      default: 
        target: 90%
      core-unit:
        flags:
          - core-unit
      form-unit:
        flags:
          - form-unit

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       
  branches: null

flags:
  core-unit:
    paths:
      - packages/core
    carryforward: true
  form-unit:
      paths:
        - packages/form
      carryforward: true

Remove commented out debug logs
  apps/haddock3-galaxy/src/WorkflowSubmitButton.tsx
  packages/core/src/store.ts
  packages/form/src/CollapsibleField.tsx
Due: core-unit, form-unit

Regen catalog
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Prep for core 3.1.0
  CHANGELOG.md
  packages/core/package.json
Due: core-unit

Use useSaveWithGlobalRewrite hook in kitchensink app
  apps/kitchensink/src/App.tsx
  apps/kitchensink/src/DownloadButton.tsx
  apps/kitchensink/src/kitchensink.json
Due: none

Create if/then/else for incompatible props
  packages/haddock3_catalog/generate_haddock3_catalog.py
Due: none

Added test
  packages/core/src/grouper.test.ts
Due: core-unit

Show all errors in tooltip
  packages/form/src/CollapsibleField.tsx
Due: form-unit

Only show less_io when mode!=batch
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Move prop in if/then/else condtion to group
  packages/core/src/grouper.test.ts
  packages/core/src/grouper.ts
Due: core-unit

Prune else parameter value when if is true
  packages/core/src/grouper.test.ts
  packages/core/src/grouper.ts
  packages/core/src/pruner.test.ts
  packages/core/src/pruner.ts
Due: core-unit

Remove then/else parameter if it same as default
  packages/core/src/pruner.test.ts
  packages/core/src/pruner.ts
Due: core-unit

Docs
  CHANGELOG.md
  docs/schema.md
Due: none

English
  docs/schema.md
Due: none

Add test
  packages/core/src/molecule/addMoleculeValidation.test.ts
Due: core-unit

Make distincting between molecule parsed ok with no residues/chains found or molecule parsing failed
  packages/core/src/molecule/parse.test.ts
  packages/core/src/molecule/parse.ts
Due: core-unit

format:chain without maxItemsFrom restricts to all chains of all parsed pdb files
  CHANGELOG.md
  docs/schema.md
  packages/core/src/molecule/addMoleculeValidation.test.ts
  packages/core/src/molecule/addMoleculeValidation.ts
Due: core-unit

Prep for new releases
  CHANGELOG.md
  packages/core/package.json
  packages/form/package.json
Due: core-unit, form-unit

Add test for code that is json schema ifthenelse block unaware
  packages/core/src/toml.test.ts
Due: core-unit

Make parseWorkflow aware of json schema ifthenelse block
  packages/core/src/catalog.ts
Due: core-unit

Add comments that some places that use schema.properties can stay unaware of json schema ifthenelse block
  packages/core/src/molecule/addMoleculeValidation.ts
  packages/core/src/resolveMaxItemsFrom.ts
  packages/core/src/toml.ts
  packages/form/src/table/TableFieldTemplate.tsx
Due: core-unit, form-unit

Bump core version
  CHANGELOG.md
  packages/core/package.json
Due: core-unit

When a value for a then|else prop is given then additionalProperties must be true
  docs/schema.md
  packages/core/src/validate.test.ts
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: core-unit

Remove additionalProperties=true so no plus button is rendered with rjsf
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

In tests use similar schema a generate script
  packages/core/src/validate.test.ts
Due: core-unit

Rebuild catalog from https://github.com/haddocking/haddock3/commit/2d2f02f38c08c5c1cb41869f99851b8c29974749
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Regenerate catalogs from https://github.com/haddocking/haddock3/commit/4ff60ddb61459df8038d8813ea0d0720efcfa2d9
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Fix generate script for https://github.com/haddocking/haddock3/tree/3dbf71f408fefe43d416ebfd2e7b4818b84bc19d
  packages/haddock3_catalog/generate_haddock3_catalog.py
Due: none

Regenerate catalog from https://github.com/haddocking/haddock3/tree/3dbf71f408fefe43d416ebfd2e7b4818b84bc19d
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Remove trailing spaces
  packages/haddock3_catalog/generate_haddock3_catalog.py
Due: none

Skip his* parameters from topoaa.mol1 on easy level
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
Due: none

Fix integration tests
  apps/haddock3-download/integration-tests/topoaamol.spec.ts
Due: none

regen catalogs: less_io 2 debug
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Drop count parameters
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Force netlify rebuild
  packages/core/src/catalog.ts
Due: core-unit

Handle new incompatible format
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Add openmm module
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Generated catalog for sasascore module
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

For packages add badges to docs and GH
  packages/core/README.md
  packages/form/README.md
Due: core-unit, form-unit

Clicking in workflow config toml text will show form for that node
  CHANGELOG.md
  packages/core/package.json
  packages/core/src/HighlightedCode.stories.tsx
  packages/core/src/HighlightedCode.tsx
  packages/core/src/TextPanel.tsx
  packages/core/src/toml.test.ts
  packages/core/src/toml.ts
  yarn.lock
Due: core-unit

Update types for higlighter
  packages/core/package.json
  yarn.lock
Due: core-unit
