Repository i-VRESSE/workflow-builder: changes, and which Codecov flags are due for each by the changed paths.
All: core-unit, form-unit

fix: example styles based on PR feedback
  apps/haddock3-download/src/App.css
  apps/haddock3-galaxy/src/App.css
  apps/haddock3-submit/src/App.css
  apps/kitchensink/src/App.css
Due: none

prepare for v2 release of core
  CHANGELOG.md
  packages/core/package.json
Due: core-unit

feat: move add button to first column in the tables fix: assign unique keys to table headers and rows
  packages/form/src/table/TableFieldTemplate.css
  packages/form/src/table/TableFieldTemplate.tsx
Due: form-unit

When upload has errors show them to user
  packages/core/src/WorkflowUploadButton.tsx
Due: core-unit

Make toast stay on error and disappear on success + Fix lint errors
  apps/haddock3-submit/src/useSubmit.tsx
  packages/core/src/WorkflowUploadButton.tsx
  packages/core/src/validate.ts
  packages/core/src/workflow.ts
Due: core-unit

Update CHANGELOG
  CHANGELOG.md
Due: none

WIP: save form data onBlur, move buttons to different position
  apps/haddock3-download/src/App.css
  apps/haddock3-download/src/App.tsx
  packages/core/src/FormActions.tsx
  packages/core/src/GlobalForm.tsx
  packages/core/src/NodeForm.tsx
  packages/core/src/NodePanel.tsx
  packages/core/src/VisualPanel.tsx
  packages/core/src/WorkflowDownloadButton.tsx
  packages/core/src/WorkflowPanel.tsx
  packages/core/src/store.ts
Due: core-unit

Prep for core 2.0.1 and form 1.1.4
  CHANGELOG.md
  packages/core/package.json
  packages/form/package.json
Due: core-unit, form-unit

Update catalogs
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

feat: enable (optional) autosave of the changes. Minor ui and layout adaptations. tests: fix failing unit and integration tests
  apps/haddock3-download/integration-tests/dupheader.spec.ts
  apps/haddock3-download/integration-tests/syntaxhighlighter.spec.ts
  apps/haddock3-download/integration-tests/topoaamol.spec.ts
  apps/haddock3-download/src/App.css
  apps/haddock3-download/src/App.tsx
  packages/core/src/CatalogCategory.tsx
  packages/core/src/CatalogNode.tsx
  packages/core/src/FilesList.tsx
  packages/core/src/FormActions.stories.tsx
  packages/core/src/FormActions.tsx
  packages/core/src/GlobalForm.tsx
  packages/core/src/NodeForm.tsx
  packages/core/src/NodePanel.stories.tsx
  packages/core/src/NodePanel.tsx
  packages/core/src/TextPanel.tsx
  packages/core/src/VisualNode.tsx
  packages/core/src/VisualPanel.tsx
  packages/core/src/WorkflowDownloadButton.tsx
  packages/core/src/WorkflowPanel.tsx
  packages/core/src/WorkflowUploadButton.tsx
  packages/core/src/index.tsx
  packages/core/src/molecule/addMoleculeValidation.ts
  packages/core/src/molecule/parse.ts
  packages/core/src/store.test.tsx
  packages/core/src/store.ts
  packages/core/src/toml.ts
  packages/core/src/types.ts
  packages/core/src/validate.test.ts
  packages/core/src/workflow.ts
  packages/form/src/ArrayFieldTemplate.tsx
Due: core-unit, form-unit

Skip exit module + regen catalogs
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Add test for group / name conflict
  packages/core/src/grouper.test.ts
Due: core-unit

add todos
  packages/core/src/grouper.ts
Due: core-unit

Update vitest so vitest VS Code extension works
  packages/core/package.json
  packages/form/package.json
  vitest.workspace.ts
  yarn.lock
Due: core-unit, form-unit

Fix group overlap with prop name
  packages/core/src/grouper.test.ts
  packages/core/src/grouper.ts
Due: core-unit

Add test coverage dependency
  packages/core/package.json
  packages/form/package.json
  yarn.lock
Due: core-unit, form-unit

Fix tests
  packages/core/src/grouper.ts
Due: core-unit

fix: implement PR improvement remarks
  apps/haddock3-download/src/App.tsx
  packages/core/src/ErrorIcon.tsx
  packages/core/src/FilesList.tsx
  packages/core/src/GlobalForm.tsx
  packages/core/src/NodeForm.tsx
  packages/core/src/NodePanel.tsx
  packages/core/src/VisualNode.tsx
  packages/core/src/VisualPanel.tsx
  packages/core/src/index.tsx
  packages/core/src/molecule/addMoleculeValidation.test.ts
  packages/core/src/molecule/parse.test.ts
  packages/core/src/store.test.tsx
  packages/core/src/store.ts
  packages/core/src/workflow.ts
  packages/form/src/CollapsibleField.tsx
Due: core-unit, form-unit

update other example apps to use autosave
  apps/haddock3-galaxy/src/App.tsx
  apps/haddock3-submit/src/App.tsx
  apps/haddock3-submit/src/main.tsx
  apps/kitchensink/src/App.tsx
  packages/core/src/ErrorIcon.tsx
Due: core-unit

chore: upgrade ts-standard linter to v12x and fix linting errors
  apps/haddock3-galaxy/src/App.tsx
  apps/haddock3-submit/src/App.tsx
  apps/kitchensink/src/App.tsx
  packages/core/package.json
  packages/core/src/ErrorIcon.tsx
  packages/core/src/Example.tsx
  packages/core/src/FormActions.tsx
  packages/core/src/TextPanel.tsx
  packages/core/src/WorkflowDownloadButton.tsx
  packages/core/src/WorkflowPanel.tsx
  packages/core/src/WorkflowUploadButton.tsx
  packages/core/src/molecule/addMoleculeValidation.ts
  packages/form/package.json
  packages/form/src/CollapsibleField.tsx
  yarn.lock
Due: core-unit, form-unit

Make topoaa initial formdata right shape
  packages/core/src/molecule/addMoleculeValidation.ts
  packages/core/src/store.ts
  packages/core/src/workflow.ts
Due: core-unit

when rendering toml text handle undefined in rsmdmatrix.resdic[chain] = [undefined]
  packages/core/src/toml.ts
Due: core-unit

Nodes which have single collapsibe field are expanded initially
  packages/core/src/store.ts
Due: core-unit

Fix tests as store is now more async
  packages/core/src/NodeForm.test.tsx
  packages/core/src/NodePanel.test.tsx
  packages/core/src/VisualPanel.test.tsx
  packages/core/src/store.test.tsx
  packages/core/src/store.ts
Due: core-unit

chore: update ts-standard version
  packages/form/package.json
  yarn.lock
Due: form-unit

fix: page reload in global params on value change. Remove async calls in state.
  packages/core/src/molecule/addMoleculeValidation.test.ts
  packages/core/src/molecule/addMoleculeValidation.ts
  packages/core/src/molecule/parse.ts
  packages/core/src/store.ts
  packages/core/src/validate.ts
Due: core-unit

Regen catalog of https://github.com/haddocking/haddock3/pull/841/commits/05872896e0a8e86ef53f47b4fb4558e77909a964
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Prep for major release
  CHANGELOG.md
  packages/core/package.json
  packages/form/package.json
Due: core-unit, form-unit

fix: unexpected error when removing uploaded molecule file
  packages/core/src/molecule/addMoleculeValidation.test.ts
  packages/core/src/molecule/addMoleculeValidation.ts
Due: core-unit

tests: improve addMoleculeValidation tests for undefined and null values
  packages/core/src/molecule/addMoleculeValidation.test.ts
Due: core-unit

publish: bump wb-core version, update the changelog file and publish to npm
  CHANGELOG.md
  packages/core/package.json
Due: core-unit

Update catalog
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Test behavoir with missing key and default value
  packages/core/src/validate.test.ts
Due: core-unit

Fallback to default of prop when prop key is required but given missing
  packages/core/src/validate.test.ts
  packages/core/src/validate.ts
Due: core-unit

Refresh catalog with less_io prop
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Handle incompatible keyword in haddock3 yaml files
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
Due: none

Added useSaveWithGlobalRewrite hook
  packages/core/src/store.ts
Due: core-unit

Path conditions:
  core-unit: any of: packages/core
  form-unit: any of: packages/form
