Repository i-VRESSE/workflow-builder: changes, and which Codecov flags are due for each by the changed paths.
All: core-unit, form-unit

haddock3_catalog is just python, no js
  yarn.lock
Due: none

Prep 1.1.4 of core + Use default for papaparse so it can be imported into remix
  CHANGELOG.md
  CONTRIBUTING.md
  packages/core/package.json
  packages/core/src/dsv.ts
Due: core-unit

Bump to 1.2.0
  CHANGELOG.md
Due: none

Update standalone builder domain
  README.md
Due: none

Rerun catalog generation
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

TODO for valid schema + keep default
  packages/haddock3_catalog/README.md
  packages/haddock3_catalog/generate_haddock3_catalog.py
Due: none

Only set enum if value is filled
  packages/core/src/molecule/addMoleculeValidation.ts
Due: core-unit

Started on test
  packages/core/src/molecule/addMoleculeValidation.test.ts
  packages/core/src/molecule/addMoleculeValidation.ts
Due: core-unit

Fix test
  packages/core/src/molecule/addMoleculeValidation.test.ts
  packages/core/src/molecule/addMoleculeValidation.ts
Due: core-unit

Add regression test for invalid schema
  packages/core/src/molecule/addMoleculeValidation.test.ts
Due: core-unit

Regenerate catalog with sorted modules
  packages/haddock3_catalog/generate_haddock3_catalog.py
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Better todo
  packages/haddock3_catalog/generate_haddock3_catalog.py
Due: none

Prep for 1.2.1 of core
  CHANGELOG.md
  packages/core/package.json
Due: core-unit

Started with replacement for /packages/form
  packages/twform/.eslintrc.cjs
  packages/twform/.gitignore
  packages/twform/README.md
  packages/twform/components.json
  packages/twform/index.html
  packages/twform/package.json
  packages/twform/pnpm-lock.yaml
  packages/twform/postcss.config.js
  packages/twform/src/App.tsx
  packages/twform/src/SchemaForm.tsx
  packages/twform/src/ajvresolver.ts
  packages/twform/src/components/ui/FormGroup.tsx
  packages/twform/src/components/ui/button.tsx
  packages/twform/src/components/ui/form.tsx
  packages/twform/src/components/ui/input.tsx
  packages/twform/src/components/ui/label.tsx
  packages/twform/src/components/ui/select.tsx
  packages/twform/src/components/ui/separator.tsx
  packages/twform/src/index.css
  packages/twform/src/lib/utils.ts
  packages/twform/src/main.tsx
  packages/twform/src/vite-env.d.ts
  packages/twform/tailwind.config.js
  packages/twform/tsconfig.json
  packages/twform/tsconfig.node.json
  packages/twform/vite.config.ts
  yarn.lock
Due: none

Use newer react types for useId
  package.json
  yarn.lock
Due: none

Stories
  packages/twform/README.md
  packages/twform/package.json
  packages/twform/src/App.tsx
  packages/twform/src/SchemaForm.stories.tsx
  packages/twform/src/SchemaForm.tsx
  packages/twform/src/components/ui/FormGroup.tsx
  yarn.lock
Due: none

Run yarn create vite
  apps/kitchensink-tailwind/.eslintrc.cjs
  apps/kitchensink-tailwind/.gitignore
  apps/kitchensink-tailwind/README.md
  apps/kitchensink-tailwind/index.html
  apps/kitchensink-tailwind/package.json
  apps/kitchensink-tailwind/public/vite.svg
  apps/kitchensink-tailwind/src/App.css
  apps/kitchensink-tailwind/src/App.tsx
  apps/kitchensink-tailwind/src/assets/react.svg
  apps/kitchensink-tailwind/src/index.css
  apps/kitchensink-tailwind/src/main.tsx
  apps/kitchensink-tailwind/src/vite-env.d.ts
  apps/kitchensink-tailwind/tsconfig.json
  apps/kitchensink-tailwind/tsconfig.node.json
  apps/kitchensink-tailwind/vite.config.ts
  yarn.lock
Due: none

Make presentable
  apps/kitchensink-tailwind/components.json
  apps/kitchensink-tailwind/package.json
  apps/kitchensink-tailwind/postcss.config.cjs
  apps/kitchensink-tailwind/src/App.css
  apps/kitchensink-tailwind/src/App.tsx
  apps/kitchensink-tailwind/src/index.css
  apps/kitchensink-tailwind/src/kitchensink.json
  apps/kitchensink-tailwind/src/lib/utils.ts
  apps/kitchensink-tailwind/src/main.tsx
  apps/kitchensink-tailwind/tailwind.config.js
  apps/kitchensink-tailwind/tsconfig.json
  apps/kitchensink-tailwind/vite.config.ts
  yarn.lock
Due: none

Use @i-vresse/wb-tailwind-form package in apps/kitchensink-tailwind
  apps/kitchensink-tailwind/package.json
  apps/kitchensink-tailwind/src/App.css
  apps/kitchensink-tailwind/src/App.tsx
  apps/kitchensink-tailwind/src/TwNodePanel.tsx
  apps/kitchensink-tailwind/src/kitchensink.json
  apps/kitchensink-tailwind/tailwind.config.js
  packages/twform/package.json
  packages/twform/pnpm-lock.yaml
  packages/twform/src/SchemaForm.tsx
  packages/twform/src/components/ui/FormGroup.tsx
  packages/twform/src/components/ui/checkbox.tsx
  packages/twform/vite.config.ts
  yarn.lock
Due: none

Regenerate catalogs
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Regenerate catalogs from https://github.com/haddocking/haddock3/commit/f5c7d307105e6b6dbd3ff25c78c1f0c51db44b9a
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

ignore maxPropertiesFrom keyword in schema during validation
  packages/core/src/resolveMaxItemsFrom.ts
  packages/core/src/validate.ts
Due: core-unit

Generate catologs from haddock3 337b96a1900c907297bd5c18983bf8a5e8b215e3
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Regenerate config from haddock3 3cf7c296714cfc6b8857082d02c48dacd943221c
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Bump core to 1.2.2
  CHANGELOG.md
  packages/core/package.json
Due: core-unit

Use latest gh pages actions
  .github/workflows/pages.yml
Due: none

Upgrade action
  .github/workflows/pages.yml
Due: none

Export more workflow parsing and validation methods
  CHANGELOG.md
  packages/core/package.json
  packages/core/src/toml.test.ts
  packages/core/src/toml.ts
  packages/core/src/workflow.ts
Due: core-unit

Start item numbering from 1 instead of 0. Update unit and integration tests Added playwright headed script for local use
  README.md
  apps/haddock3-download/integration-tests/topoaamol.spec.ts
  apps/haddock3-download/package.json
  docs/uiSchema.md
  packages/form/src/table/TableField.test.tsx
  packages/form/src/useIndexable.ts
Due: form-unit

Update catalog
  packages/haddock3_catalog/public/catalog/haddock3.easy.yaml
  packages/haddock3_catalog/public/catalog/haddock3.expert.yaml
  packages/haddock3_catalog/public/catalog/haddock3.guru.yaml
Due: none

Drop segment id fill as it no longer exists
  apps/haddock3-download/integration-tests/topoaamol.spec.ts
Due: none

WIP: upgrade rsjf form to v5
  apps/haddock3-download/src/App.css
  packages/core/package.json
  packages/core/src/CatalogPanel.tsx
  packages/core/src/ErrorBoundary.tsx
  packages/core/src/FormProps.ts
  packages/core/src/GlobalForm.tsx
  packages/core/src/NodeForm.tsx
  packages/core/src/NodePanel.tsx
  packages/core/src/catalog.ts
  packages/core/src/grouper.test.ts
  packages/core/src/grouper.ts
  packages/core/src/molecule/addMoleculeValidation.test.ts
  packages/core/src/molecule/addMoleculeValidation.ts
  packages/core/src/resolveMaxItemsFrom.ts
  packages/core/src/store.ts
  packages/core/src/types.ts
  packages/core/src/validate.ts
  packages/core/src/workflow.ts
  packages/form/package.json
  packages/form/src/ArrayFieldTemplate.stories.tsx
  packages/form/src/ArrayFieldTemplate.tsx
  packages/form/src/CollapsibleField.stories.tsx
  packages/form/src/CollapsibleField.tsx
  packages/form/src/Form.stories.tsx
  packages/form/src/Form.test.tsx
  packages/form/src/Form.tsx
  packages/form/src/IvresseCheckboxWidget.stories.tsx
  packages/form/src/IvresseCheckboxWidget.tsx
  packages/form/src/IvresseDescriptionField.tsx
  packages/form/src/molecule/formats.ts
  packages/form/src/table/TableField.stories.tsx
  packages/form/src/table/TableField.test.tsx
  packages/form/src/table/TableField.tsx
  packages/form/src/table/TableFieldTemplate.tsx
  packages/form/src/useIndexable.ts
  yarn.lock
Due: core-unit, form-unit

refactor: remove css-in-js styles defined using @emotion. @emotion dependecy seem to be required by storybook, so it is moved to devDependencies
  packages/core/package.json
  packages/core/src/CatalogNode.tsx
  packages/core/src/Example.tsx
  packages/core/src/VisualNode.tsx
  packages/core/src/VisualPanel.tsx
  packages/core/src/WorkflowPanel.tsx
  packages/core/src/constants.ts
  yarn.lock
Due: core-unit

feat: apply style changes from core to download example
  apps/haddock3-download/src/App.css
  apps/haddock3-download/src/App.tsx
  apps/haddock3-download/src/index.css
  apps/haddock3-download/src/main.tsx
  packages/core/src/CatalogNode.tsx
  packages/core/src/constants.ts
Due: core-unit

Prep @i-vresse/wb-form 1.1.3
  CHANGELOG.md
  packages/form/package.json
Due: form-unit

refactor: improve dnd button size and drop area
  apps/haddock3-download/src/App.css
  apps/haddock3-download/src/App.tsx
  packages/core/src/CatalogNode.tsx
  packages/core/src/VisualPanel.tsx
  packages/core/src/WorkflowPanel.tsx
Due: core-unit

Fix lint error
  packages/core/src/VisualPanel.tsx
Due: core-unit

refactor: add form styles to example apps
  apps/haddock3-download/src/App.css
  apps/haddock3-download/src/App.tsx
  apps/haddock3-galaxy/src/App.css
  apps/haddock3-galaxy/src/App.tsx
  apps/haddock3-submit/src/App.css
  apps/haddock3-submit/src/App.tsx
  apps/kitchensink/src/App.css
  apps/kitchensink/src/App.tsx
Due: none

fix: use unique node ids for dnd
  apps/kitchensink/src/kitchensink.json
Due: none

Path conditions:
  core-unit: any of: packages/core
  form-unit: any of: packages/form
